<form action="/product/update/<%= product.id %>" method="POST" class="form-sign-in">
 	<h2>Edit <%= product.name %></h2>

	<% if(flash && flash.err) { %>
		<% Object.keys(flash.err).forEach(function(error) { %>
			<div class="alert alert-danger"><%- JSON.stringify(flash.err[error]) %></div>
		<% }) %>
	<% } %> 	

 	<div class="form-group">
 		<input type="text" class="form-control" value="<%= product.name %>" placeholder="name" name="name">
 	</div>

 	<div class="form-group">
 		<label>Inventory On Hand</label>
 		<input type="text" class="form-control" value="<%= product.inventoryOnHand %>" placeholder="0.00" name="inventoryOnHand">
 	</div>

 	<div class="form-group">
 		<label>Unit Price</label>
 		<input type="text" class="form-control" value="<%= product.unitPrice %>" placeholder="0.00" name="unitPrice">
 	</div>

	<div class="form-group">
		<label>Bar Code Number</label>
		<input type="text" class="form-control" value="<%= product.barCodeNumber %>" placeholder="123456789" name="barCodeNumber">
	</div> 	

	<div class="form-group">
		<label>Description</label>
		<input type="text" class="form-control" value="<%= product.description %>" placeholder="description" name="description">
	</div>	

 	<input type="hidden" name="_csrf" value="<%= _csrf %>">

 	<input type="submit" value="Save Product" class="btn btn-primary btn-lg btn-block">
 	<a href="/product/index" class="btn btn-default btn-lg btn-block">Cancel</a>

</form>