<div class="container">
	<h1 class="pageHeader">Customers</h1>

	<a href="/customer/new" class="addButton btn-index-new">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</a>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Created Date</th>
				<th colspan="2">Sales</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% if (customers && customers.length > 0) { %>
				<% _.each(customers, function(customer) { %>
					<tr>
						<td><%= customer.firstName + ' ' + customer.lastName %></td>
						<td><%= customer.email %></td>
						<td><%= customer.createdAt %></td>
						<td><a href="/sale/new?customer=<%= customer.id %>" class="btn btn-primary">New Sale</a></td>
						<td><a href="/sale/index?customer=<%= customer.id %>" class="btn btn-default">View Sales</a></td>
						<td><a href="/customer/edit/<%= customer.id %>" class="btn btn-danger">Edit</a></td>
						<td><a href="/customer/destroy/<%= customer.id %>" class="btn btn-danger">Delete</a></td>
					</tr>
				<% }); %>
			<% } else { %>
				<tr><td colspan="7"><center>No customers found.</center></td></tr>
			<% } %>
			<tr>
			</tr>
		</tbody>
	</table>
</div>